databases:
  etop:
    postgres:
      protocol: ""
      host: postgres
      port: 5432
      username: postgres
      password: postgres
      database: etop_dev
      sslmode: ""
      timeout: 15
      max_open_conns: 0
      max_idle_conns: 0
      max_conn_lifetime: 0
      google_auth_file: ""
  itopx:
    postgres:
      protocol: ""
      host: postgres
      port: 5432
      username: postgres
      password: postgres
      database: test_dst
      sslmode: ""
      timeout: 15
      max_open_conns: 0
      max_idle_conns: 0
      max_conn_lifetime: 0
      google_auth_file: ""
    tables: [
      "user",
      "account",
      "shop_customer",
      "order",
      "shop",
      "fulfillment",
      "shop_brand",
      "shop_product",
      "account_user",
      "address",
      "inventory_variant",
      "inventory_voucher",
      "invitation",
      "money_transaction_shipping",
      "product_shop_collection",
      "purchase_order",
      "purchase_refund",
      "receipt",
      "refund",
      "shipnow_fulfillment",
      "shop_carrier",
      "shop_category",
      "shop_collection",
      "shop_customer_group",
      "shop_customer_group_customer",
      "shop_ledger",
      "shop_product_collection",
      "shop_stocktake",
      "shop_supplier",
      "shop_trader",
      "shop_trader_address",
      "shop_variant",
      "shop_variant_supplier",
    ]
telegram_bot:
  token: ""
  chats: {}
env: dev
secret: secret
http:
  host: ""
  port: 8080
